{% extends 'base.html' %}

{% block header %}
    <title> Delete post form </title>
{% endblock %}

{% block content %}
    {% for message in messages %}
        <p style="color: #45FF00;">{{ message }}</p>
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="alert alert-warning">
           Are you sure you want to delete {{ post }}?
          </div>
        <button type="submit" class="btn btn-danger">Confirm
        <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>
{% endblock %}