{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <title> Create post form </title>
{% endblock %}

{% block content %}
    <h2>Create post</h2>
    {% for message in messages %}
        <p style="color: #45FF00;">{{ message }}</p>
    {% endfor %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ create_post_form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}