{% extends "base.html" %}

{% block header %}
    <title>List of posts</title>
{% endblock %}

{% block content %}
    <div>
        {% for message in messages %}
            <p align="center" style="color: #238100;">{{ message }}</p>
        {% endfor %}

        <div><h1>{{ post.title | safe }}</h1></div>

        <div class="row">
            <div class="col-md-6"><small>Posted by {{ post.author.username }} on {{ post.date_published }}.</small> <br>
            <small>Last update on {{ post.date_updated }}.</small></div>

            <div class="col-md-6">
                {% if post.author == request.user %}
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <form action="{% url 'delete_post' post.slug %}" method="get" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" style="margin-right: 20px" class="btn btn-danger">Delete post
                        <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                    <form action="{% url 'edit_post' post.slug %}" method="get" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Edit post</button>
                    </form>
                    </div>
                {% endif %}
            </div>
        </div>

        <div align="center">
            <img src="{{ MEDIA_URL }}{{ post.image.url }}" class="img-fluid img-thumbnail">
        </div>
        <div>
            <h5 align="justify">{{ post.body | safe }}</h5>
        </div>
        </div>
{% endblock %}
</html>