{% extends "base.html" %}

{% block header %}
    <title>List of posts</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div align="center" class="img-thumbnail" style="margin: 30px;">
        <a href="{% url 'detail_post' post.slug %}" class="text-decoration-none test-reset">
            <div ><h2>{{ post }}</h2></div>
            <div><img src="{{ MEDIA_URL }}{{ post.image.url }}" class="img-fluid"></div>
            </a>
            <div><small>{{ post.body | truncatewords:70 }}</small></div>
        </div>
    {% endfor %}

    <div class="container-fluid" align="right">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}&q={{ request.GET.q }}">prev</a>
        {% endif %}

        {% if posts.object_list %}
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
        {% endif %}

        {% if posts.has_next %}

            <a href="?page={{ posts.next_page_number }}&q={{ request.GET.q }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a>
        {% endif %}
    </div>
{% endblock %}
</html>