<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="margin-left: 50px;">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href={% url 'index' %}>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'list_posts' %}>Blog</a>
      </li>
    </ul>

      <form action="{% url 'list_posts' %}" class="form-inline my-2 my-lg-0" style="margin-right: 50px">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" value="{{ request.GET.q }}" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav mr-auto mr-2 mr-lg-0">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">{{ request.user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
    </ul>
  </div>
</nav>
