{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <title> Change password </title>
{% endblock %}

{% block content %}
    <h2>Change password</h2>
    {% for message in messages %}
        <small style="color: #45FF00;">{{ message }}</small>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        {{ change_password_form | crispy }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}