{% extends 'base.html' %}

{% block header %}
    <title> Login form </title>
{% endblock %}

{% block content %}
    <h2>Login form</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if field.errors %}
            {% for error in field.errors %}
                <small style="color: maroon;"> {{ error }}</small>
            {% endfor %}
        {% endif %}

        {% if login_form.non_field_errors %}
            <small style="color: darkred;">{{ login_form.non_field_errors }}</small>
        {% endif %}

        <div class="form-group mb-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com">
        </div>
        <div class="form-group mb-2">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}