{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <title> Profile </title>
{% endblock %}

{% block content %}
    <h2>Your Profile</h2>
    <form method="post">
        {% csrf_token %}
        {% if field.errors %}
            {% for error in field.errors %}
                <small style="color: maroon"> {{ error }}</small>
            {% endfor %}
        {% endif %}

        {% if login_form.non_field_errors %}
            <small style="color: darkred">{{ login_form.non_field_errors }}</small>
        {% endif %}

        {{ profile_form|crispy }}

        <p><a href="{% url 'change_password' %}">Change password</a></p>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}