{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <title> Register form </title>
{% endblock %}

{% block content %}
    <h2>Register form</h2>
    <form method="post">
        {% csrf_token %}
        {{ registration_form|crispy }}

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}