<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block header %}
    {% endblock %}
</head>
<body>
    {% include 'snippets/navbar.html' %}

    <div class="container" style="padding: 20px;">
        <div class="row">
            <div class="col-lg-9 col-md-10 mx-auto">
                {% block content %}
                {% endblock %}
            </div>
            {% if request.user.is_authenticated %}
                <div class="col-lg-3 col-md-10 mx-auto">
                    <div>
                        <a href="{% url 'create_post' %}" class="btn btn-primary btn-lg btn-block">Create new post</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

</body>
</html>